DATABASE_URL="YOUR_SUPABASE_DATABASE_URL"
JWT_SECRET="YOUR_JWT_SECRET"
PORT=8000
FRONTEND_URL="http://localhost:5173"
JDOODLE_CLIENT_ID="YOUR_JDOODLE_CLIENT_ID"
JDOODLE_CLIENT_SECRET="YOUR_JDOODLE_CLIENT_SECRET"
